* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.appleHomeSection {
  height: 90vh;
  background-image: url(../img/LandingSection/landingSecSecond.jpg);
  background-repeat: no-repeat;
  background-position: bottom; 
  background-size: 2321px 517px;
  border-bottom: 10px solid white;
}


.Nav {
  position: sticky;
  top: 0;
  background-color: rgba(5, 5, 5, 0.774);
  height: 6.8vh; 
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 44px;
    padding-left: 0 !important;
    &:first-child a img {
      width: 15px;
    }
    li {
      list-style: none;
      padding: 0px 37px;
      &:last-child {
        img {
          width: 17px;
        }
      }
      &:nth-child(9) a{ 
        img {
          width: 25px;
        }
      }
      a {
        text-decoration: none;
        color: #f5f5f7;
        opacity: .8;
        font-size: 14px;
        font-weight: 200 !important;
        letter-spacing: -.01em;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
      }
    }
  }
}
.navNextLine{
  background-color: #f5f5f7;
  padding: 12px 0px;
  h6 {
    font-size:  14px;
    text-align: center;
    margin: 0;
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;
    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: initial;
        color: #06c;
        letter-spacing: inherit;
        font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.LandingSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  h1 {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0 0 0;
  }
  h2 {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    margin: 6px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
    margin-top: 0.8em;
    color: #86868b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  h4 {
    margin-top: 1.5rem;
    a {
      color: #06c;
      font-size: 21px;
      line-height: 1.381;
      font-weight: 400;
      text-decoration: none;
      svg {
        width: unset !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 17px;
      }
    }
  }
}
.iPhonePro {
  height: 90vh;
  background-color: black;
  border-bottom: 10px solid white;
  
.iPhoneProSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 50%;
  h1 {
    color: white;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0 0 0;
  }
  h2 {
    color: white;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    margin: 6px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
    margin-top: 0.8em;
    color: #86868b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  h4 {
    margin-top: 1.5rem;
    a {
      color: #06c;
      font-size: 21px;
      line-height: 1.381;
      font-weight: 400;
      text-decoration: none;
      svg {
        width: unset !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 17px;
      }
    }
  }
}
.iPhoneProSectionImg {
  height: 50%;
  figure {
    height: 100%;
    background-image: url(../img/LandingSection/landingSecIphone12Pro.jpg);
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 2321px 517px;
  }
}
}
.iPadPro {
  height: 90vh;
  background-color: black;

.iPadProSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 35%;
  h1 {
    color: white;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0 0 0;
  }
  h2 {
    color: white;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    margin: 6px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h4 {
    margin-top: 1.5rem;
    a {
      color: #06c;
      font-size: 21px;
      line-height: 1.381;
      font-weight: 400;
      text-decoration: none;
      svg {
        width: unset !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 17px;
      }
    }
  }
}
.iPadProSectionImg {
  height: 65%;
  figure {
    height: 100%;
    background-image: url(../img/LandingSection/landingSecIpad.jpg);
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 1500px 600px;
  }
}
}

.contentSection {
  height: 90vh;
  width: 100%;
  .contentSectionContainer {
    display: flex;
    width: 100%;
    height: 100%;
   .AirPodsContent {
     width: 50%;
     border-top: 10px solid white;
     border-left: 10px solid white;
     border-bottom: 10px solid white;
     border-right: 5px solid white;
     .airPodsSection {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      height: 100%;
        background-image: url(../img/LandingSection/airpods.jpg);
        background-repeat: no-repeat;
        background-position: bottom; 
        background-size: 1210px 550px;
      h2 {
        color: rgb(36, 36, 36);
        font-size: 28px;
        font-size: 40px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        margin-top: 53px;
        sup {
          font-size: 20px
        }
      }
      h4 {
        margin-top: .3rem;
        a {
          color: #06c;
          font-size: 17px;
          line-height: 1.381;
          font-weight: 400;
          text-decoration: none;
          svg {
            width: unset !important;
            font-size: 12px;
            padding-left: 7px;
            padding-right: 17px;
          }
        }
      }
    }
   }
   .watchContent {
     width: 50%;
     border-top: 10px solid white;
     border-right: 10px solid white;
     border-bottom: 10px solid white;
     border-left: 5px solid white;
     .watchSection {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      height: 100%;
        background-image: url(../img/LandingSection/landingSecIwatch.jpg);
        background-repeat: no-repeat;
        background-position: bottom; 
        background-size: 1210px 550px;
        h1 {
          color: white;
          font-size: 28px;
          line-height: 1.07143;
          font-weight: 600;
          letter-spacing: -.005em;
          font-family: Arial, Helvetica, sans-serif;
          margin: 40px 0 0 0;
          p {
            font-size: 12px;
            color: rgb(209, 33, 33);
            letter-spacing: 1px;
            font-weight: 600;
            padding-top: 5px;
          }
        }
        h2 {
          color: white;
          font-size: 21px;
          line-height: 1.10722;
          font-weight: 400;
          letter-spacing: .004em;
          margin: 6px 0 0 0;
          font-family: Arial, Helvetica, sans-serif;
        }
      h4 {
        margin-top: .3rem;
        a {
          color: #06c;
          font-size: 17px;
          line-height: 1.381;
          font-weight: 400;
          text-decoration: none;
          svg {
            width: unset !important;
            font-size: 12px;
            padding-left: 7px;
            padding-right: 17px;
          }
        }
      }
    }
   }
  }

}  

.iMacContent {
  width: 50%;
  border-right: 5px solid white;
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  .iMacSection {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   height: 100%;
     background-image: url(../img/LandingSection/laandingSecIMaac.jpg);
     background-repeat: no-repeat;
     background-position: bottom; 
     background-size: 1210px 550px;
     h1 {
       color: #1d1d1f;
       font-size: 35px;
       line-height: 1.1;
       font-weight: 600;
       letter-spacing: -.005em;
       font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
       margin: 40px 0 0 0;
       p {
         font-size: 12px;
         color: rgb(209, 33, 33);
         letter-spacing: 1px;
         font-weight: 600;
         padding-top: 5px;
       }
     }
     h2 {
       color: #1d1d1f;
       font-size: 21px;
       line-height: 1.10722;
       font-weight: 400;
       letter-spacing: .004em;
       margin: 6px 0 0 0;
       font-family: Arial, Helvetica, sans-serif;
     }
   h4 {
     margin-top: .3rem;
     a {
       color: #06c;
       font-size: 17px;
       line-height: 1.381;
       font-weight: 400;
       text-decoration: none;
       svg {
         width: unset !important;
         font-size: 12px;
         padding-left: 7px;
         padding-right: 17px;
       }
     }
   }
 }
}
.airTagContent {
  width: 50%;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 5px solid white;
  .airTagSection {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   height: 100%;
     background-image: url(../img/LandingSection/landingSecAirTag.jpg);
     background-repeat: no-repeat;
     background-position: bottom; 
     background-size: 1210px 550px;
     h1 {
       color: #1d1d1f;
       font-size: 35px;
       line-height: 1.1;
       font-weight: 600;
       letter-spacing: -.005em;
       font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
       margin: 40px 0 0 0;
       p {
         font-size: 12px;
         color: rgb(209, 33, 33);
         letter-spacing: 1px;
         font-weight: 600;
         padding-top: 5px;
       }
     }
     h2 {
       color: #1d1d1f;
       font-size: 21px;
       line-height: 1.10722;
       font-weight: 400;
       letter-spacing: .004em;
       margin: 6px 0 0 0;
       font-family: Arial, Helvetica, sans-serif;
     }
   h4 {
     margin-top: .3rem;
     a {
       color: #06c;
       font-size: 17px;
       line-height: 1.381;
       font-weight: 400;
       text-decoration: none;
       svg {
         width: unset !important;
         font-size: 12px;
         padding-left: 7px;
         padding-right: 17px;
       }
     }
   }
 }
}